html-plugin/.idea
html-plugin/dist
html-plugin/node_modules
html-plugin/debian/bbb-room-connector-plugin/
html-plugin/debian/bbb-room-connector-plugin.substvars
html-plugin/debian/files
html-plugin/debian/debhelper-build-stamp
.DS_Store
appliance-application/dist
appliance-application/node_modules
.idea
appliance-application/packages/main/dist
appliance-application/packages/preload/dist
appliance-application/packages/renderer/dist
package-lock.json

# Python
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

env/
test-env/
venv/

__pycache__
.pytest_cache/

